* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
}

.cadastro {
  color: white;
  text-decoration: none;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cadastro:hover {
  background-color: #555;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.title h1 {
  font-size: 36px;
  margin-bottom: 20px; /* Espaço entre o título e a barra de pesquisa */
}

.search-container {
  display: flex;
  align-items: center;
}

.search-bar {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.search-button {
  padding: 10px 15px;
  margin-left: 10px; /* Espaço entre a barra de pesquisa e o botão */
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #555;
}